<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * Module For Manage Artists
 *
 * DISCLAIMER
 *
 * @category    Evatix
 * @package     Evatix_Artists
 * @copyright   Copyright (c) 2012 evatix.com. (http://www.evatix.com/)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Evatix_Artists>
            <version>0.1.0</version>
        </Evatix_Artists>
    </modules>
    <frontend>
        <routers>
            <artists>
                <use>standard</use>
                <args>
                    <module>Evatix_Artists</module>
                    <frontName>artists</frontName>
                </args>
            </artists>
        </routers>
        <layout>
            <updates>
                <artists>
                    <file>artists.xml</file>
                </artists>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <artists>
                <use>admin</use>
                <args>
                    <module>Evatix_Artists</module>
                    <frontName>artists</frontName>
                </args>
            </artists>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <artists translate="title" module="artists">
                <title>Artists</title>
                <sort_order>60</sort_order>
                <children>

                    <category translate="title" module="artists">
                        <title>Artists Category</title>
                        <action>artists/adminhtml_category</action>
                    </category>

                    <item translate="title" module="artists">
                        <title>Artists Information</title>
                        <action>artists/adminhtml_artists</action>
                    </item>

                    <featuredartists translate="title" module="artists">
                        <title>Featured Artists</title>
                        <action>artists/adminhtml_featuredartists</action>
                    </featuredartists>
                    
                    <featured translate="title" module="artists">
                        <title>Configaration</title>
                        <action>artists/adminhtml_featured</action>
                    </featured>
                    
                    <configaration translate="title" module="artists">
                        <title>Applied Artist</title>
                        <action>artists/adminhtml_apply</action>
                    </configaration>
                  
                </children>
            </artists>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Evatix_artists>
                            <title>Artists Module</title>
                            <sort_order>10</sort_order>
                        </Evatix_artists>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <artists>
                    <file>artists.xml</file>
                </artists>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <artists>
                <class>Evatix_Artists_Model</class>
                <resourceModel>artists_mysql4</resourceModel>
            </artists>
            
            <artists_mysql4>
                <class>Evatix_Artists_Model_Mysql4</class>
                <entities>
                    <artists>
                        <table>artists</table>
                    </artists>
                    <category>
                        <table>artists_category</table>
                    </category>
                    <featured>
                        <table>featured_artists</table>
                    </featured>
                    <configaration>
                        <table>artists_configaration</table>
                    </configaration>
                    <apply>
                        <table>artist_apply_info</table>
                    </apply>
                </entities>
            </artists_mysql4>
        </models>
        <resources>
            <artists_setup>
                <setup>
                    <module>Evatix_Artists</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </artists_setup>
            <artists_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </artists_write>
            <artists_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </artists_read>
        </resources>
        <blocks>
            <artists>
                <class>Evatix_Artists_Block</class>
            </artists>
        </blocks>
        <helpers>
            <artists>
                <class>Evatix_Artists_Helper</class>
            </artists>
        </helpers>
    </global>
</config>