<?xml version="1.0"?>
<config>
    <modules>
        <Webspeaks_Productbook>
            <version>0.1.0</version>
        </Webspeaks_Productbook>
    </modules>
    <frontend>
        <routers>
            <productbook>
                <use>standard</use>
                <args>
                    <module>Webspeaks_Productbook</module>
                    <frontName>productbook</frontName>
                </args>
            </productbook>
        </routers>
        <layout>
            <updates>
                <productbook>
                    <file>productbook.xml</file>
                </productbook>
            </updates>
        </layout>
    </frontend>
    <!--<admin>
        <routers>
			<productbook>
				<use>admin</use>
				<args>
					<module>Webspeaks_Productbook</module>
					<frontName>productbook</frontName>
				</args>
			</productbook>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<productbook module="productbook">
				<title>Productbook</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="productbook">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>productbook/adminhtml_productbook</action>
					</items>
				</children>
			</productbook>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webspeaks_Productbook>
							<title>Productbook Module</title>
							<sort_order>10</sort_order>
						</Webspeaks_Productbook>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productbook>
					<file>productbook.xml</file>
				</productbook>
			</updates>
		</layout>
    </adminhtml>   -->
    <global>
        <models>
            <productbook>
                <class>Webspeaks_Productbook_Model</class>
                <resourceModel>productbook_mysql4</resourceModel>
            </productbook>
            <productbook_mysql4>
                <class>Webspeaks_Productbook_Model_Mysql4</class>
                <entities>
                    <productbook>
                        <table>productbook</table>
                    </productbook>
                </entities>
            </productbook_mysql4>
        </models>
        <resources>
            <productbook_setup>
                <setup>
                    <module>Webspeaks_Productbook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productbook_setup>
            <productbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productbook_write>
            <productbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productbook_read>
        </resources>
        <blocks>
            <productbook>
                <class>Webspeaks_Productbook_Block</class>
            </productbook>
        </blocks>
        <helpers>
            <productbook>
                <class>Webspeaks_Productbook_Helper</class>
            </productbook>
        </helpers>
    </global>
</config>